<html>
  <script src="functions.js"></script>

  <head>
    <title>Helpful posting</title>
    <link rel="stylesheet" href="style.css" />
  </head>

  <body style="margin: 0px" style class="body" onLoad="loadPage()">
    <div class="pageContent">
      
      <div id="pictureBox">
        <img src="helpful_tips.jpg" alt="Helpful Posting" id="helpfulPostingImage"/>
      </div>

      <div id="submitPostingArea" class="postingArea">
        <div class="tabIn">Submit a new posting</div>
        <div id="addPostingWidget">
          <input class="textInput" id="newPostingTitle" type="text" placeholder="Enter posting details"/>
          <div class="button" onclick="submitNewPosting()">Submit</div> 
        </div>
      </div>

      <div class="actionSection">
        <div id="postingsTitle" class="tabIn">Postings</div>

        <div id="postingColumns">
          <div class="postingColumn" id="newPostings">
            <div class="postingColumnTitle">New</div>
          </div>
          <div class="postingColumn" id="inProgressPostings">
            <div class="postingColumnTitle">In progress</div>
          </div>
        </div>
        
      </div>

    </div>
  </body>
</html>
