html {
  font: size 16px;
}

div {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.backdrop {
  background-image: url('../images/Italian countryside 8k.jpg');
  object-fit: contain;
  /* scale-down */
  height: 2160px;   /* Set equal to height of the image. Also set on PostingsList.js */
  width: 3840px;    /* Set equal to the width of the image */
}

.controls {
  font-size: 20px;
  padding: 10px;
  margin: 1px;
  background: #92adba;
  border-radius: 3px;
  z-index: 40;
}
