/* html {
  font-size:14px;
} */

div {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}

.backgroundImage {
  background-image: url('../images/4915_wide_scaled.jpg');
  /* background-color: #dae3f4; */

  object-fit: contain;
  width: 4676px;    /* Set equal to the width of the image. Also set imageWidth on AlphaComponen.js */
  height: 1998px;   /* Set equal to height of the image. Also set imageHeight on AlphaComponent.js ~line 24 */
}
/* tuscany-italy-landscape.jpg   height: 2160px;   width: 3840px; */
/* purple-red_nebula_starfield_Darker_3840px.jpg height: 5120px;  width: 2880px */
/* ../images/galaxy_over_waters_&_cloud_7680px.jpg   height: 4320px;  width: 7680px; */

.backgroundColor {
  background-color: #130b08
  /* Observatory background colors: foreground ground: #130b08  */
  /* Italian countryside background colors: #9c5924 or #d7974c; */
}



/* @layer components { .topic .subTopic { @apply text-3xl px-3 rounded-md}}
@layer components { .topic .subSubTopic { @apply text-md px-2 rounded-sm }} */

/* .mainTopic {
  color: rgb(255, 218, 72);
  background-color: rgba(117, 117, 117);
  opacity: 90%;
  z-index: 40;

  size: 4.75rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
} */



.tooltipBase {
  position: relative;
}

.tooltipBase .tooltipItself {
  visibility: hidden;       

  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%)
}

.tooltipBase:hover .tooltipItself {
  visibility: visible;
}

.test {
  color: magenta
}

