:root {
  --thumbColor: hsla(243, 83%, 55%, 1);
}

.slider {
  -webkit-appearance: none;
  width: 120px;
  height: 5px;
  background: #666666;
  border: 1px solid #000000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 0.8;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 13px;
  background: var(--thumbColor);
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 12px;
  height: 13px;
  background: var(--thumbColor);
  border: 1px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}
