
.tooltipPopup {
  /* border: solid transparent;
  border-top-color: var(--tooltip-background-color); */
  z-index: 100;
  border: solid;
  border-color: rgb(175, 20, 20);
  border-width: 1px;
}

/* Border triangles */
.tooltipPopup::before {
  content: " ";  /* empty div prefix, just using it for its border */
  height: 0;     /* just using the top border to make the arrow */
  width: 0;

  border: solid transparent;
  border-top-color: rgb(227, 227, 227);
  border-width: 8px;

  pointer-events: none;
  /* margin-left: calc(var(--tooltip-arrow-size) * -1); */
}



